.margin-logo{
    margin-left: 50px;
}

#first_name{
    border: 2px solid;
    width:500px;
    border-radius: 4px;
    padding-left: 4px;
}

.tabs-padding{
    padding-left:40px;
}
.tabs-style{
    text-transform: none;
}